{{define "head"}}
<head>
    <meta charset="utf-8" />
    <title>cross poster app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/noty.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css?v={{ .version }}" />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
</head>
{{end}}

{{define "donate"}}
<div class="uk-text-center data-block uk-box-shadow-medium">
    <div>
        <span uk-icon="heart"></span>
        <span>donate</span>
    </div>
    <div class="uk-margin-small">
        <span>crypton:</span>
        <span>808CC.....3C464</span>
        
        <button class="uk-button uk-button-default btn-mini btn-copy" data-clipboard-text="808CC6D469CFA6F29D70A5110D5869D00F7EDA8D4C25D6D2E73CF6D41303C464" onclick="showAlert('copied!');">
            <span uk-icon="copy"></span>
        </button>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/uikit.min.js"></script>
<script src="/assets/js/uikit-icons.min.js"></script>
<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/noty.min.js"></script>
<script src="/assets/js/app.js?v={{ .version }}"></script>
{{end}}
