<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body>
		<br/>
		<div class="uk-container uk-width-xlarge wrap uk-padding uk-border-rounded">
			<div class="uk-text-center data-block main-block uk-box-shadow-medium">
				<span uk-icon="file-text"></span>
				<span>cross-poster</span>
			</div>

			<div class="uk-text-center data-block uk-box-shadow-medium">
				<div class="uk-margin-small-bottom">
					<span uk-icon="plus-circle"></span>
					<span>new post</span>
				</div>

				<form id="main-form" method="POST" action="/send" enctype="application/x-www-form-urlencoded">
					<input type="hidden" id="imagename" name="imagename" value="" />
					<div class="uk-margin">
						<textarea class="uk-textarea uk-border-rounded" rows="5" placeholder="Enter the text of a new post.." name="post_text"></textarea>
					</div>
					<div class="js-upload uk-placeholder uk-text-center">
						<span uk-icon="icon: cloud-upload"></span>
						<span class="uk-text-middle">Attach file by dropping them here or</span>
						<div uk-form-custom>
							<input type="file" name="post_file" multiple>
							<span class="uk-link">selecting one</span>
						</div>
					</div>
					<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
					<div class="uk-margin uk-grid-small uk-child-width-auto">
						<span>Post to</span>
						<label><input class="uk-checkbox" name="post_utopia" value="1" type="checkbox" checked> Utopia</label>
						<label><input class="uk-checkbox" name="post_telegram" value="1" type="checkbox" checked> Telegram</label>
					</div>

					<button type="submit" class="uk-button uk-button-default uk-border-rounded">Send</button>
				</form>
			</div>

			{{block "donate" .}} {{end}}
		</div>
		
		{{block "scripts" .}} {{end}}
	</body>
</html>
